  <%= form_tag(parks_path, :method => 'get') do %>
    <%= text_field_tag :search_displayname, params[:search], placeholder: "Search For Facilities" %>
     <%= submit_tag "Search" %>
  <% end %>

<p id="notice"><%= notice %></p>

<h1>Listing Parks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Postalcode</th>
      <th>Imgageurl</th>
      <th>Cleanliness</th>
      <th>Welllit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parks.each do |park| %>
      <tr>
        <td><%= park.name %></td>
        <td><%= park.address %></td>
        <td><%= park.postalcode %></td>
        <td><%= park.imgageurl %></td>
        <td><%= park.cleanliness %></td>
        <td><%= park.welllit %></td>
        <td><%= link_to 'Show', park %></td>
        <td><%= link_to 'Edit', edit_park_path(park) %></td>
        <td><%= link_to 'Destroy', park, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Park', new_park_path %>


 