<!DOCTYPE html>
<html>
<head>
  <title>Parkyourchild</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <!-- <link rel="stylesheet" type="text/css" href="home.scss"> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>

      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #123366;

      }
      #map {
        height: 100%;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

    </style>

</head>
<body>
<!-- from here map related -->
  <div id="map"></div>
  <script>
    // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see the error "The Geolocation service
    // failed.", it means you probably did not give permission for the browser to
    // locate you.

  function initMap() {

    var parkMap = new google.maps.StyledMapType([
          {"stylers": [
          { "weight": 2.6 },
          { "visibility": "on" },
          { "saturation": -9 },
          { "hue": "#0008ff" }
        ]
      },{
        "featureType": "poi.park",
        "elementType": "geometry",
        "stylers": [
          { "saturation": 26 },
          { "hue": "#00ff09" },
          { "lightness": -19 },
          { "gamma": 0.98 }
        ]
      },{
        "featureType": "road.highway",
        "stylers": [
          { "hue": "#0077ff" }
        ]
      },{
        "featureType": "transit.station",
        "stylers": [
          { "hue": "#ff1a00" },
          { "visibility": "simplified" }
        ]
      },{
        "featureType": "poi.sports_complex",
        "stylers": [
          { "gamma": 0.83 },
          { "saturation": 45 },
          { "lightness": -41 },
          { "hue": "#00ff2b" }
        ]
      },{
        "featureType": "road.arterial",
        "stylers": [
          { "visibility": "simplified" },
          { "saturation": 48 },
          { "weight": 1.9 },
          { "hue": "#007fff" },
          { "lightness": -26 }
        ]
      },{
        "featureType": "transit.line"  }
    ], {name: 'US Road Atlas'});

    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -34.397, lng: 150.644},
      zoom: 15,
      mapTypeControlOptions: {
          mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'parkmappark']
        }
    });

    map.mapTypes.set('parkmappark', parkMap);
      map.setMapTypeId('parkmappark');

    var infoWindow = new google.maps.InfoWindow({map: map});
    var geocoder = new google.maps.Geocoder();

    createMarkers(map);

    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        infoWindow.setPosition(pos);
        infoWindow.setContent('Prrrrrrrrrrrrr.');
        map.setCenter(pos);
      }, function() {
        handleLocationError(true, infoWindow, map.getCenter());
      });
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
      }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
                            'Error: The Geolocation service failed.' :
                            'Error: Your browser doesn\'t support geolocation.');
    }

    // var image = 'https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRIbeLU0p2tOKxUHy_vf8f3B_GdRWX8Kvwq_XB_qPEE_PY7mggYOw';

    function createMarkers(map) {
      <% Park.all.where.not(lat: nil).each do |park| %>
        var marker = new google.maps.Marker({
        map: map,
        // icon: tree,
        title: "<%= park.name %>",
        position: {
          lat: <%= park.lat %>,
          lng: <%= park.lng %>
          }
         });
      <% end -%>
  }

  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOXLByKziSlHAOD4QCSxXgBuFbi_ImZfU&callback=initMap">
  </script>
<!-- to here map related -->	
<%= yield %>
</body>
</html>



