

<div id="form_fac">
 <%= form_tag parks_path, method: :get, id:"form_items" do %>





<!--   <div class="block-switch">
      <input id="toggle-flat" class="toggle toggle-flat" type="checkbox">
      <label for="toggle-flat"></label>
      <h4>Flat Switch</h4>
    </div> -->

    <div class="block-switch">
      <input id="toggle-flip" class="toggle toggle-flip" type="checkbox" value="Track">
      <label for="toggle-flip" data-on="Track" data-off="Track"></label>
      <!-- <h4>Flip Switch</h4> -->
   </div>

   <div class="block-switch">
      <input id="toggle-flip1" class="toggle toggle-flip" type="checkbox" value="Washroom">
      <label for="toggle-flip1" data-on="Washroom" data-off="Washroom"></label>
   </div>

	<div class="block-switch">
      <input id="toggle-flip2" class="toggle toggle-flip" type="checkbox" value="Sports Area">
      <label for="toggle-flip2" data-on="Sports" data-off="Sports"></label>
  </div>

	<div class="block-switch">
      <input id="toggle-flip3" class="toggle toggle-flip" type="checkbox" value="Pool">
      <label for="toggle-flip3" data-on="Pool" data-off="Pool"></label>
  </div>

  <div class="block-switch">
      <input id="toggle-flip4" class="toggle toggle-flip" type="checkbox" value="Dog Playpark">
      <label for="toggle-flip4" data-on="Dog" data-off="Dog"></label>
  </div>

  <div class="block-switch">
      <input id="toggle-flip5" class="toggle toggle-flip" type="checkbox" value="Playground">
      <label for="toggle-flip5" data-on="Playground" data-off="Playground"></label>
  </div>

  <div class="block-switch">
      <input id="toggle-flip6" class="toggle toggle-flip" type="checkbox" value="Rink">
      <label for="toggle-flip6" data-on="Rink" data-off="Rink"></label>
  </div>

<!-- 
 
  <div>
		<%= check_box_tag :track, "Washroom", false, id: "Washroom", class:'checkbox_filter' %>
    <%= label_tag "Washroom", nil, class: "label_filter" %> 
  </div>
  <div>
		<%= check_box_tag :track, "Sports Area", false, id: "Sports", class:'checkbox_filter' %>
    <%= label_tag "Sports" , nil, class: "label_filter" %> 
  </div>
  <div>
		<%= check_box_tag :track, "Pool", false, id: "Pool", class:'checkbox_filter' %>
    <%= label_tag "Pool", nil, class: "label_filter" %> 
  </div>
  <div>
		<%= check_box_tag :track, "Dog Playpark", false, id: "Dog", class:'checkbox_filter' %>
    <%= label_tag "Dog" , nil, class: "label_filter" %> 
  </div>
  <div> 
		<%= check_box_tag :track, "Playground", false, id: "Playground", class:'checkbox_filter' %>
    <%= label_tag "Playground", nil, class: "label_filter" %>
	</div>
	<div> 
		<%= check_box_tag :track, "Rink", false, id: "Rink", class:'checkbox_filter' %>
    <%= label_tag "Rink", nil, class: "label_filter" %>
	</div> -->
  <!-- <% end %> -->
</div>	

<nav id="navpos">
	<div>
		<div class="white-box" id="white-box"></div>
<!-- 		<div class="white-box1" id="white-box1"></div>
		<div class="white-box2" id="white-box2"></div>
		<div class="white-box3" id="white-box3"></div>
		<div class="white-box4" id="white-box4"></div> -->
	</div>
	Park Your Child 
</nav>

<!-- <nav class="navbar navbar-default">
 <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="#">
       <div class = "image">
       <img alt="Brand" src="/tree.jpg" id="brand"> 
         <span> Park Your Child</span>
       </div>
     </a>
   </div>
 </div>
</nav> -->


<div id="map"></div>
<div id="greenland"> 	</div>

<script>
  window.data = <%= @parks.to_json.html_safe %>;
  function initMap() {
    parkMap.initialize('map', data);
  }
  $(document).ready(function() {
    
  });
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOXLByKziSlHAOD4QCSxXgBuFbi_ImZfU&callback=initMap">
</script>



